<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <properties>
        <property name="driver" value=""/>
        <property name="url" value=""/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </properties>

    <typeAliases>
        <typeAlias alias="Book" type="com.model.masterdata.Book"/>
        <typeAlias alias="Author" type="com.model.masterdata.Author"/>
        <typeAlias alias="Account" type="com.model.Authentication.Account"/>
        <typeAlias alias="AuthToken" type="com.model.Authentication.AuthToken"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.BooleanTypeHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/bookstore"/>
                <property name="username" value="riccardomezzadra"/>
                <property name="password" value="MyBestsPassword"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/Book.xml"/>
        <mapper resource="mapper/Author.xml"/>
        <mapper resource="mapper/AuthToken.xml"/>
        <mapper resource="mapper/Account.xml"/>
    </mappers>

</configuration>
